<template>
    <div class="list" :class="{'is-loading': ships}">

        <div class="list__search animated fadeIn" v-if="ships">
            <ui-input placeholder="Введите слово для поиска" v-model="search" @input="onSearch"/>
        </div>

        <div class="list__items animated fadeIn" v-if="ships">

            <div class="list-item list-item--head">
                <div class="list-item__wrap">
                    <div class="list-item__name">Название</div>
                    <div class="list-item__lengths">Длинна</div>
                    <div class="list-item__pilots">Пилотов</div>
                    <div class="list-item__passengers">Пассажиров</div>
                    <div class="list-item__more"/>
                </div>
            </div>

            <div class="list-item"
                 v-for="ship in ships.results"
                 :class="{'is-active':isActive(ship)}">

                <div class="list-item__wrap" @click="click(ship)">
                    <div class="list-item__name">
                        {{ship.name}}
                    </div>
                    <div class="list-item__lengths">{{ship.length}}</div>
                    <div class="list-item__pilots">
                        {{ship.pilots.length}}
                    </div>
                    <div class="list-item__passengers">
                        {{ship.passengers}}
                    </div>
                    <div class="list-item__more">
                        <icon-caret/>
                    </div>
                </div>

                <div class="list-item__info animated fadeIn" v-if="isActive(ship)">
                    <ul>
                        <li><strong>Модель:</strong> {{ship.model}}</li>
                        <li><strong>Производитель:</strong> {{ship.manufacturer}}</li>
                        <li><strong>Стоимость:</strong> {{ship.cost_in_credits}}</li>
                        <li><strong>Скорость:</strong> {{ship.max_atmosphering_speed}}</li>
                        <li><strong>Экипаж:</strong> {{ship.crew}}</li>
                        <li><strong>Грузоподъемность:</strong> {{ship.cargo_capacity}}</li>
                        <li><strong>Расходные материалы:</strong> {{ship.consumables}}</li>
                        <li><strong>Рейтинг гипердвигателя:</strong> {{ship.hyperdrive_rating}}</li>
                        <li><strong>MGLT:</strong> {{ship.MGLT}}</li>
                        <li><strong>Звездный класс:</strong> {{ship.starship_class}}</li>
                    </ul>
                    <ui-btn :to="getId(ship.url)">Просмотреть "{{ship.name}}"</ui-btn>
                </div>

            </div>

        </div>

        <div class="list__nav" v-if="ships">
            <ui-btn class="animated flipInX" small v-if="ships.previous" @click.native="getShipList(ships.previous)">
                Назад
            </ui-btn>
            <ui-btn class="animated flipInX" small v-if="ships.next" @click.native="getShipList(ships.next)">
                Вперед
            </ui-btn>
        </div>

        <div class="list__empty" v-if="ships && ships.results.length === 0">
            Ничего не найдено :(
        </div>

        <div class="list__loading" v-if="!ships">
            <ui-spinner></ui-spinner>
        </div>

    </div>
</template>

<script>
    import _ from 'lodash'
    import {mapActions, mapState} from 'vuex'

    export default {
        computed: mapState(['ships']),
        data() {
            return {
                search: '',
                activeItem: null
            }
        },
        mounted() {
            this.getShipList();
            this.searchShip = _.debounce(this.searchShip, 500);
            this.loadSearchQuery();
        },
        methods: {
            ...mapActions(['getShipList', 'searchShip']),
            click({name}) {
                this.activeItem = this.activeItem === name ? null : name;
            },
            isActive({name}) {
                return this.activeItem === name
            },
            getId(url) {
                const parse = document.createElement('a');
                parse.href = url;
                return parse.pathname.replace(/[*'/api/starships/'/]/g, '')
            },
            onSearch(val) {
                this.activeItem = null;
                this.searchShip(val);
            },
            loadSearchQuery() {
                const {search} = this.$router.history.current.query;
                if (search) {
                    this.search = search;
                    this.onSearch(search)
                }
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .list {
        padding 3rem
        background-color rgba(35, 154, 226, 0.96)
        border 1px solid @background-color + 80
        border-radius .4rem
        margin 2rem 0
        font-size 1.4rem

        &__search {
            margin-bottom 2rem
        }

        &-item {
            $parent = selector()

            &__wrap {
                display flex
                justify-content center
                cursor pointer
                border 1px solid transparent
                padding 1rem
                border-radius .4rem
                transition border .2s linear, backgroud-color .2s linear

                & > * {
                    flex-basis 100%
                }

            }

            &--head {
                & {$parent}__wrap {
                    background-color @background-color + 15
                    border 1px solid @background-color + 10
                }
            }

            &__name {
                flex-basis 100rem
            }

            &__more {
                flex-basis 2rem

                & .icon {
                    width 1.5rem
                    display block
                    transition transform .3s linear
                }
            }

            &__info {
                margin-top 1rem
                padding 1rem
                border-radius .4rem

                & ul {
                    margin 0 0 1.5rem 0
                }

                & .ui-btn {
                    width 100%
                }
            }

            &:not({$parent}--head) {
                &:nth-child(odd) {
                    & {$parent}__wrap {
                        background-color rgba(255, 255, 255 .1)
                    }
                }

                &:hover, &:focus {
                    & {$parent}__wrap {
                        border-color rgba(255, 255, 255 .6)
                    }
                }
            }

            &.is-active {
                border 1px solid rgba(255, 255, 255 .2)
                border-radius .4rem

                & {$parent} {
                    &__wrap {
                        background-color #fff !important
                        color $color-primary
                    }

                    &__more {
                        & .icon {
                            transform rotate(180deg)
                        }
                    }
                }
            }

            & + & {
                margin-top .5rem
            }

        }

        &__loading, &__empty {
            overflow hidden
            display flex
            align-items center
            justify-content center
        }

        &__nav {
            margin-top 4rem
            display flex
            justify-content center
            align-items center

            & .ui-btn + .ui-btn {
                margin-left 1.5rem
            }
        }

        &.is-loading {
            width 70rem
        }

    }
</style>