<template>
    <div class="ui-input__field">
        <div class="ui-input__input">
            <div class="ui-input__container">
                <input :required="required" ref="input" class="ui-input" :type="type"
                       :placeholder="placeholder" @input="$emit('input', $event.target.value)"
                       :value="value"/>
            </div>
            <div v-if="validate" class="ui-input__validate animated fadeIn">
                <icon-check/>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'ui-input',
        props: {
            type: String,
            required: Boolean,
            value: [String],
            placeholder: String,
            error: Boolean,
            validate: Boolean
        },
        data() {
            return {
                search_timeout: ''
            }
        },
        methods: {
            focus() {
                this.$refs.input.focus()
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .ui-input {
        border 0 none
        background transparent
        margin 0
        box-sizing border-box
        font-family $font-default
        outline none
        color $color-light
        font-weight: $font-bold
        width: 100%
        font-size 1.4rem
        height 4rem
        padding-left 2rem
        appearance none
        $parent = selector()

        &__input {
            border 1px solid $color-light
            flex 1 1
            position relative
            border-radius .4rem
        }

        &__field {
            display: flex
            align-items: center
        }

        &__validate {
            position absolute
            right 1.8rem
            width 2.4rem
            height @width
            top 50%
            margin-top -(@width / 2)
            border-radius 50%
            border 2px solid $color-light
            display flex
            align-items center
            justify-content center

            & .icon {
                width 1.5rem
                height 1rem
            }
        }

        &::placeholder {
            color rgba(255, 255, 255 .5)
            font-weight $font-regular
            opacity 1
        }

        +layout-sm() {
            font-size 1.6rem
            line-height 2rem
            letter-spacing 0.1px
            &__label {
                font-size @font-size
                line-height @line-height
                height @line-height
                margin-top -(@height / 2)
            }
        }

    }
</style>
