<template>
    <div class="view-main">
        <Info/>
    </div>
</template>


<script>
    import Info from '@/components/section/info'

    export default {
        components: {Info}
    }
</script>