<template>
    <div class="view-main">
        <List/>
    </div>
</template>


<script>
    import List from '@/components/section/list'

    export default {
        components: {List}
    }
</script>