<template>
    <div class="info">

        <ul class="info__description flipInX" v-if="ship">
            <li v-for="item in getInfo">
                <strong>{{item.label}}:</strong> {{checkValue(item.name)}}
            </li>
        </ul>

        <div class="info__loading" v-else>
            <ui-spinner></ui-spinner>
        </div>

        <div class="info__nav" v-if="ship">
            <ui-btn class="animated flipInX" small to="/">
                Вернуться обратно
            </ui-btn>
        </div>

    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        computed: {
            ...mapState(['ship']),
            getInfo() {
                const {ship} = this;
                const result = [];
                Object.keys(ship)
                    .forEach(key => result.push({label: key, name: ship[key]}));
                return result;
            }
        },
        mounted() {
            const {id} = this.$router.history.current.params;
            this.loadShip(id);
        },
        methods: {
            ...mapActions(['loadShip']),
            checkValue(value) {
                return typeof value === 'string' ? value : value.length > 0 ? value.join(', ') : '-';
            }
        },
    }
</script>

<style lang="stylus" scoped>
    .info {
        padding 3rem
        background-color rgba(35, 154, 226, 0.96)
        border 1px solid @background-color + 80
        border-radius .4rem
        margin 2rem 0
        font-size 1.6rem

        &__description {
            & strong {
                text-transform uppercase
            }
        }

        &.is-loading {
            width 70rem
        }

        &__loading {
            overflow hidden
            display flex
            align-items center
            justify-content center
        }

        &__nav {
            margin-top 4rem
            display flex
            justify-content center
            align-items center
        }
    }
</style>