<template>
    <div class="loader">Загрузка...</div>
</template>

<script>
    export default {
        name: 'ui-spinner',
        components: {},
        data () {
            return {}
        },
        props: {},
        computed: {},
        methods: {}
    }
</script>

<style lang="stylus" scoped>

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }
    .loader {
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 0.2rem solid rgba(255, 255, 255, 0.2);
        border-right: 0.2rem solid rgba(255, 255, 255, 0.2);
        border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
        border-left: 0.2rem solid $color-base
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>
