html {
  font-size 10px
}

html, body {
  margin 0
  padding 0
  height 100%
  min-height 100%
  box-sizing border-box
  font-family $font-default
  font-weight $font-regular
  color $color-base
}

*, *:before, *:after {
  box-sizing inherit
}

body {
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  background-color #000
  background-image url(./assets/img/bg.jpg)
  background-size cover
  background-repeat no-repeat
  backgrond-position center center
}

.container {
  $padding = 1.5rem
  margin 0 auto
  padding 0 $padding

  +layout-l() {
    width 114rem + $padding
  }

  +layout-md() {
    width 104rem + $padding
  }

  +layout-sm() {
    width 100%
  }

  +layout-xs() {
    width 100%
  }

}

.icon {
  fill currentColor
  width 100%
  height 100%

  svg {
    width 100%
    height 100%
  }
}

a {
  text-decoration none
  color $color-link
}

h1, h2, h3, h4, h5, h6 {
  margin 0
  padding 0
}

.color {
  &-primary {
    color $color-primary
  }

  &-light {
    color $color-light
  }

  &-base {
    color $color-base
  }
}