<template>
    <div id="app" class="app">
        <router-view></router-view>
    </div>
</template>

<style lang="stylus">
    @import "./assets/stylus/main.styl"
    .app {
        display flex
        align-items center
        justify-content center
        min-height 100%
        width 100%
    }
</style>
