<template>
    <component :is="tag" class="ui-btn" :to="to" :href="href" :class="classes">
        <span><slot></slot></span>
    </component>
</template>

<script>
    export default {
        name: 'ui-btn',
        props: {
            disabled: Boolean,
            small: Boolean,
            href: String,
            to: String
        },
        computed: {
            classes() {
                return {
                    [`is-small`]: this.small,
                    [`is-disabled`]: this.disabled
                }
            },
            tag() {
                if (this.to) return 'router-link'
                else if (this.href) return 'a'
                else return 'button'
            }
        },
        methods: {}
    }
</script>


<style lang="stylus" scoped>
    .ui-btn {
        font-size 2.4rem
        border 0 none
        cursor pointer
        display inline-block
        box-sizing border-box
        height: 6rem
        line-height: @height
        border-radius 0
        outline: none
        min-width: 1rem
        font-family: $font-primary
        font-weight: $font-bold
        text-transform: uppercase
        text-align: center
        transition: background-color 0.3s, color 0.3s, opacity 0.3s, width 0.3s
        padding-left 4rem
        padding-right @padding-left
        background-color $color-light
        color $color-primary
        border-radius .5rem

        span {
            position: relative;
            z-index: 2
        }

        &.is-disabled {
            opacity: 0.5
            pointer-events: none
        }

        &.is-small {
            height 4rem
            line-height @height
            font-size 2rem
            padding-left 2rem
            padding-right @padding-left
        }

        &:hover, &:focus {
            color $color-primary + 30
        }

    }
</style>
